*{
    box-sizing: border-box;
}
body {
    font-family: 'raleway' sans-serif;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
.row {
    margin-left: -20px;
    margin-right: -20px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container {
    max-width: 1320px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
 header {
    
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5385c1;
    height: auto;
    color: white;
    font-family:  'Raleway', sans-serif;
}
header .logo {
    float: left;
}
header nav {
    float: right;
}
.header-list li{
    display: inline;
    line-height: 1.6;
    margin: 8px;
}

.hero-section {
    text-align: center;
    font-family:  'Raleway', sans-serif;
}
.hero-section h1, 
.sample h1,
.dvaartikli h1,
.triartikli h1,
.text h3,
.button1{
    color:#5385c1;
}
.buttons h3 {
    color: #5385c1;
}
.hero-section p, 
.sample p,
.dvaartikli p,
.triartikli p,
.text p {
    color: #9a9a9a;
    font-weight: 100;
}
.sample {
    float: left;
    font-family:  'Raleway', sans-serif;
}
.dvaartikli {
    float: left;
    width: 50%;
    font-family:  'Raleway', sans-serif;
    text-align: left;
}
.triartikli {
    float: left;
    width: 33.3333%;
    font-family:  'Raleway', sans-serif;
    text-align: left;
}
.elements-text {
    font-family:  'Raleway', sans-serif;
    text-align: justify;
    color: #5385c1;
}
.text {
    float: left;
    text-align: left;
    opacity: 0.8;
}

.special {
    background-color: #5385c1;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
}
.default {
    background-color: #3d3b3b;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
}
.alternate {
    background-color: white;
    border: ridge;
    color: #3d3b3b;
    text-align: center;
    padding: 8px 17px;
    border: 1px;
    border-color: #a7a7a7;
    border-style: solid;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
}
.big{
    background-color: #5385c1;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin: 3px;
    padding: 15px;
    padding-left: 25px;
    padding-right:25px;
    margin-bottom: 20px;
}
.small1{
    background-color: white;
    border: ridge;
    color: #3d3b3b;
    text-align: center;
    padding: 8px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    border: 1px;
    border-color: #a7a7a7;
    border-style: solid;
    font-size: 10px;
    margin: 3px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.fit1{
    background-color: #5385c1;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 20px;
    margin: 3px;
    padding: 10px;
    padding-left: 60px;
    padding-right:60px;
}
.fit2{
    background-color: #3d3b3b;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    padding: 10px;
    padding-left: 60px;
    padding-right:60px;
    margin-bottom: 20px;
}
.fit3{
    background-color: white;
    border: inset;
    color: #3d3b3b;
    text-align: center;
    padding: 8px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    padding: 10px;
    padding-left: 60px;
    padding-right:60px;
    margin-bottom: 20px;
}
.fitsmall1{
    background-color: #5385c1;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    padding: 5px;
    padding-left: 55px;
    padding-right: 55px;
    margin-bottom: 20px;
}
.fitsmall2{
    background-color: #3d3b3b;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    padding: 5px;
    padding-left: 55px;
    padding-right: 55px;
    margin-bottom: 20px;
}
.icon1{
    background-color: #5385c1;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}
.icon2{
    background-color: #3d3b3b;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}
.icon3{
    background-color: gray;
    border: inset;
    color: white;
    text-align: center;
    padding: 8px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}

.special1{
    background-color:#9a9a9a;
    border: inset;
    color: white;
    text-align: center;
    padding: 8px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    border:none;
    opacity: 0.5;
}
a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    text-decoration: underline;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .hr{
    padding: 20px;      
  }
  .headinzi{
    font-family: 'Raleway' sans-serif;
    color: #5385c1;
    font-weight: lighter;
  }

  .smartP{
    color: #9a9a9a;
    font-family: 'Raleway' sans-serif;
    padding-top: 40px;
    opacity: 0.8;
  }
  .smartheading {
    color: #5385c1;
    font-family: 'Raleway' sans-serif;
    opacity: 0.8;
  }
  .smartheading p{
    color: #9a9a9a;
    opacity: 0.8;
  }
  #fname{
    margin: 0px;
    float: left;
    margin-right: 15px;
    font-family:  'Raleway', sans-serif;
  }
.ikoni {
    float: right;
    color: #5385c1;
    margin: auto;
    word-spacing: 5px;
}
dt, dd {
    padding: 10px;
    color: #9a9aa7;
    opacity: 0,8px;
}
.unorderedlevo {
    float: left;
    width: 50%;
    padding-right:20px
}
.ordereddesno{
    float: right;
    width: 50%;
    padding-left:20px;
    text-align: left;
}
.ul2 {
    list-style-type: circle;
}
.alternate2 {
    float:left;
}
.definition {
    float:left;
}
.default1 {
    background-color: #5385c1;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    margin-right: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

.default2 {
    background-color: #3d3b3b;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    margin-right: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

.default3 {
    background-color: white;
    border:1px gray ;
    border-style: solid;
    color: black;
    opacity: 0.7;
    text-align: center;
    padding: 8px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    margin-right: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

.small5 {
    background-color: white;
    color: #3d3b3b;
    text-align: center;
    padding: 8px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    margin: 3px;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.small6 {
    background-color: white;
    color: #3d3b3b;
    text-align: center;
    padding: 8px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    margin: 3px;
    padding-right: 20px;
    padding-left: 20px;
}

.small7  {
    background-color: white;
    color: #3d3b3b;
    text-align: center;
    padding: 8px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    margin: 3px;
    padding-right: 20px;
    padding-left: 20px;
}

#email{
    width: 280px;
    border: 1px;
    border-style:  solid;
    margin-left: 10px;
    padding: 6px;
    font-family:  'Raleway', sans-serif;
    background-color: #f7f7f7;
    color: #a0a1a0;
}
#fname{
    width: 280px;
    border: 1px;
    border-style:  solid;
    margin-right: 10px;
    padding: 8px;
    font-family:  'Raleway', sans-serif;
    background-color: #f7f7f7;
    color: #a0a1a0;

}
#category{
    background-color: #f7f7f7;
    color: #a0a1a0;
    border: 1px;
    border-style:  solid;
    float:left;
    font-family:  'Raleway', sans-serif;
    padding: 8px;
    width: 581px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkbox-inline{
    width: 33.3333%;
    padding-right: 90px;
} 
.checkbox-inline1{
    float:left;
    margin:10px;
    width: 40%; 
    text-align: left;
    margin-top: 20px;
} 
#text-area{
    margin-top: 20px;
    background-color: #f7f7f7;
    font-family: 'raleway' sans-serif;
    color: #9a9a9a;
}
h3 {
    color:#5385c1;
}
.small8 {
    background-color: #5385c1;
    color: white;
    text-align: center;
    padding: 8px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    border: none;
    font-weight: bold;
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    padding-right: 20px;
    padding-left: 20px;
}
.small9 {
    background-color: #3d3b3b;
    color: white;
    text-align: center;
    padding: 8px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    border: none;
    font-weight: bold;
    font-size: 10px;
    margin: 3px;
    padding-right: 20px;
    padding-left: 20px;
}
.small10 {
    background-color: white;
    border: 1px;
    border-style: solid;
    color: #9a9a9a;
    text-align: center;
    padding: 8px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    border-color: #9a9a9a;
    font-weight: bold;
    font-size: 10px;
    margin: 3px;
    padding-right: 20px;
    padding-left: 20px; 
}
.blockqoute {
    border-left: 4px solid #ccc;
    color:#9a9a9a;
    opacity: 0,8px;
}
.table1, th {
    border: 1px solid;
    border-style: none none solid none;
    border-collapse: collapse;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #9a9a9a;
    text-align: left;
    padding-right: 1em;
}
th {
    color: black;
}
.none {
    border-style: none none none none;
}
.grey {
    background-color: rgba(211, 201, 201, 0.308);
}
#solid {
    border-style: solid  solid solid solid;
    border-collapse: collapse;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #9a9a9a;
    text-align: left;
    border-width: 0.8px;
}
.tabela1 {
    border: 1px solid;
    border-style: none none solid none;
    border-collapse: collapse;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #9a9a9a;
    text-align: left;
}
.table2 {
    border-collapse:  collapse;
    color: #9a9a9a;
    text-align: left;
}
.box p{
    padding: 20px 20px 20px 20px;
}
.box h5{
    color: #5385c1;
}
.fit1{
    background-color: #5385c1;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    padding: 5px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px ;
    margin-bottom: 20px;
}
.fit2{
    background-color: #3d3b3b;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    padding: 5px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px ;
    margin-bottom: 20px;
}
.fit3{
    background-color: white;
    border: none;
    color: #7a7a7a;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    border: 1px;
    border-color: #a7a7a7;
    border-style: solid;
    margin: 3px;
    padding: 5px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px ;
    margin-bottom: 20px;
}

.fitsmall1{
    background-color: #5385c1;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    padding: 5px;
    padding-left: 55px;
    padding-right: 55px;
}
.fitsmall2{
    background-color: #3d3b3b;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    padding: 5px;
    padding-left: 55px;
    padding-right: 55px;
}
.fitsmall3{
    background-color: white;
    border: none;
    color: #7a7a7a;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    border: 1px;
    border-style: solid;
    border-color: #a7a7a7;
    margin: 3px;
    padding: 5px;
    padding-left: 55px;
    padding-right: 55px;
    margin-bottom: 20px;
}
.icon1{
    background-color: #5385c1;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}
.icon2{
    background-color: #3d3b3b;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}
.icon3{
    background-color: white;
    border: inset;
    color: #7a7a7a;
    text-align: center;
    padding: 8px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    border: 1px;
    border-style: solid;
    border-color: #a7a7a7;
    margin: 3px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}
a:link {
    text-decoration: none;
  } 
  a:visited {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    text-decoration: underline;
  }
  .kutija{
    column-count: 2;
    column-gap: 2rem; 
 }
  .levo {
    float: left;
    width: 48%;
    padding-right:20px
  }
  .desno{
    float: right;
    width: 48%;
    padding-left:20px;
    
  } 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .hr{
    padding: 20px;      
  }
  .headinzi{
    font-family: 'Raleway' sans-serif;
    color: #5385c1;
    font-weight: lighter;  
}

  .smartP{
    color: #9a9a9a;
    font-family: 'Raleway' sans-serif;
    padding-top: 40px;
    opacity: 0.8;
  }
  .smartheading {
    color: #5385c1;
    font-family: 'Raleway' sans-serif;  
    opacity: 0.8;
  }
  .smartheading p{
    color: #9a9a9a;
    opacity: 0.8;
  }
  .send-message{
    background-color: #3d3b3b;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    padding-left: 60px;
    padding-right:60px;
}
.reset{
    background-color: white;
    border: inset;
    color: #9a9a9a;
    text-align: center;
    padding: 8px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    border: 1px;
    border-style: solid;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
}
  .forms{
      float:left;
  }
  .left1 { 
    float: left;   
    margin: 12px 10px 10px;
    margin-top:48px;
}
    
.right1 { 
    float: right;   
    margin: 12px 10px 10px;
    margin-top:48px;
}
.preformatted{
    width: 100%;
    background-color: #f7f7f7;
    color: #a0a1a0;
    border: 1px;
    border-style:  solid;
    float:left;
}
.preformatted1{
    width: 100%;
    background-color: #f7f7f7;
    color: #a0a1a0;
    border: 1px;
    border-style:  solid;
    float:left;
}
.left img {
    margin-top: 40px;
}
.right img {
    margin-top: 40px;
}
.pic01 img {
    margin:8px; 
    float: left;
    width: 30%;
}
.pic02 img {
    margin: 8px;
    float: left;
    width: 30%;
}
.pic03 img{
    margin:8px;
    float:left;
    width: 30%;
}
.leftandright h5{
    color: #5385c1;
}
.image h5{
    color: #5385c1
}
.fit h5{
    color: #5385c1
}
#query {
    width: 450px;
    border: 1px;
    border-style:  solid;
    margin-right: 10px;
    padding: 8px;
    font-family:  'Raleway', sans-serif;
    background-color: #f7f7f7;
    color: #a0a1a0;
}
.search1 {
    background-color: #3d3b3b;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family:  'Raleway', sans-serif;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    margin-right: 20px;
    padding-right: 15px;
    padding-left: 15px;
}
footer {
    width: 100%;
    bottom: 0;
    clear: both;
}
.footer-levo {
    font-family: 'Raleway', sans-serif;
    color: #9a9a9a;
    margin-top: 50px;
    font-size: small;
}
.footer-desno {
    float: right;
    color: #5385c1;
    margin: auto;
    word-spacing: 20px;
}
@media only screen and (max-width: 768px){
    .container {
    max-width: 808px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.hero-section{
    text-align: center;
}
.sample{
    float: none;
    text-align: center;
}
.dvaartikli {
    float: none;
    width: 100%;
    text-align: center;
}
.triartikli {
    float: none;
    width: 100%;
    text-align: center;
}
.elements-text {
    text-align: center;
}
.elements{
    text-align: center;
}
.text {
    float: none;
    text-align: center;
}
.smartheading p {
    float: none;
    text-align: center;
}
#fname {
    float: none;
    width: 100%;
    text-align: center;
}
.ikoni{
    float: none;
    text-align: center;
    width: 100%;
}
dt, dd{
    float: none;
    text-align: center;
}
.unorderedlevo {
    float: none;
    width: 100%;
    text-align: center;
}
.ordereddesno {
    float: none;
    width: 100%;
    text-align: center;
}
.alternate { 
    float: none;
    text-align: center;
}
.alternate2 {
    float: none;
    text-align: center;
}
.definition {
    float: none;
    text-align: center;
}
#email {
    float: none;
    text-align: center;
    margin: 5px;
    width: 100%;
}
#category {
    float: none;
    width: 100%;
    text-align: center;
}
.checkbox-inline{
    width: 100%;
}
.checkbox-inline1{
    float: none;
    width: 100%;
    text-align: center;
}
#text-area {
    float: none;
    text-align: center;
}
.levo {
    float: none;
    width: 100%;
    text-align: center;
}
.desno {
    float: none;
    width: 100%;
    text-align: center;
}
.forms {
    float: none;
    text-align: center;
}
.left1{
    float: left;
    text-align: center;
}
.right1 {
    float: right;
    text-align: center;
}
.preformatted {
    float: none;
    text-align: center;
}
.preformatted1 {
    float: none;
    text-align: center;
}
.pic01 img{
    float: none;
    text-align: center;
}
.pic02 img{
    float: none;
    text-align: center;
}
.pic03 img{
    float: none;
    text-align: center;
}
.footer-desno {
    float:none;
    text-align: center;
}
.default1 {
    width: 100%;
    float: none;
    text-align: center;
    margin: 5px;
}
.default2 {
    width: 100%;
    float: none;
    text-align: center;
    margin: 5px;
}
.default3 {
    width: 100%;
    float: none;
    text-align: center;
    margin: 5px;
}
.small8{ 
    width: 100%;
    float: none;
    text-align: center;
    margin: 5px;
}
.small9{ 
    width: 100%;
    float: none;
    text-align: center;
    margin: 5px;
}
.small10{ 
    width: 100%;
    float: none;
    text-align: center;
    margin: 5px;
}
.small5{
    width: 100%;
    float: none;
    text-align: center;
    margin: 5px;
}
.special {
    width: 100%;
    float: none;
    text-align: center;
    margin: 5px;
}
.alternate {
    width: 100%;
    float: none;
    text-align: center;
    margin: 5px;
}
.default {
    width: 100%;
    float: none;
    text-align: center;
    margin: 5px;
}
.big {
    width: 100%;
    float: none;
    text-align: center;
    margin: 5px;
}
.default {
    width: 100%;
    float: none;
    text-align: center;
    margin: 5px;
}
.small1 {
    width: 100%;
    float: none;
    text-align: center;
    margin: 5px;
}
.fit1 {
    float: none;
    padding: 10px;
    padding-right: 80px;
    padding-left: 80px;
    margin: 5px;
}
.fit2 {
    float: none;
    padding: 10px;
    padding-right: 80px;
    padding-left: 80px;
    margin: 5px;
}
.fit3 {
    float: none;
    padding: 10px;
    padding-right: 80px;
    padding-left: 80px;
    margin: 5px;
}
.footer-levo {
    float: none;
    text-align: center;
}
}